@charset "UTF-8";

/* pc */
@media screen and (min-width: 961px) {
  /*ここにpc用スタイルを記述*/
.inner{
 width: 1100px;
 box-sizing: border-box;
 margin: 0 auto;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.header{
 width: 100%;
 text-align: center;
 position: fixed;
 top: 0;
 left: 0;
 z-index:24;
 background-color: #f2f2f2;
}
.header-inner{
 display: flex;
 justify-content: space-between;
 padding:15px 0;
}
.contact-btn{
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: color .3s;
}
.contact-btn:hover{
  color: #333;
}
#humberger{
  display: none;
}
/* .btn-content{
 font-size: 12px;
 padding: 14px 12px;
 background-color: #74cfae;
 color: #fff;
 transition: color .3s;
}
.btn-content:hover{
  color: #333;
} */
.theme{
  width:100%;
  background-color: #f2f2f2;
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}
.theme h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.theme p{
  font-size: 30px;
  color:#c0c0c0;
  margin-top: 20px;
} 
.whatwecando{
  background-color: #74cfae;
  text-align: center;
}
.whatwecando img{
  /* margin-top: 50px; */
}
.whatwecando-inner{
  display: flex;
  padding-top: 50px;
}
.whatwecando-note h2{
  font-family: 'Raleway';
  font-size: 24px;
  color: #fff;
}
.whatwecando-note p{
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  align-items: end;
  line-height: 30px;
}
.whatwecando-note{
  /* margin: auto; */
  margin-left: 50px;
}
.work{
  width:100%;
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.work h2{
  font-size: 24px;
  font-family: 'Raleway';
  margin-bottom: 40px;
  text-align: center;
}
.work-img{
  margin: 80px 0px 90px 0px;
}
.work-img img{
  opacity:0.7;
  transition: opacity .3s;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  
}
.work-img img:hover{
  opacity:1;
}
/* .work-img-top,.work-img-bottom{
  display: flex;
  justify-content: space-between;
}
.work-img-top{
  margin-bottom: 80px;
}
.work-img-bottom{
  margin-bottom: 90px;
} */
.work-note{
  text-align: center;
  padding: 0 90px 70px 0;
  width: 800px;
  display: flex;
  margin: 0 auto;
}
.work-text{
  margin-right: 90px;
  color: #333;
}
.skills{
  width:100%;
  background-color: #4e4e4e;
}
.skills h1{
  font-size: 24px;
  font-family: 'Raleway';
  color: #fff;
  text-align: center;
  padding-top: 70px;
}
.skills h2{
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}
.skills-inner{
  display: flex;
  margin-top: 50px;
  padding-bottom: 100px;
  justify-content: center;
}
.skills-content{
  margin-left: 180px;
}
.skills-content:nth-of-type(1){
  margin-left: 0;
}
.links{
  width:100%;
  background-color: #f2f2f2;
}
.links-inner{
  display: flex;
  padding:200px 0;
  justify-content: center;
}
.link-box{
  width: 185px;
  text-align: center;
  padding: 20px 0;
  transition: background-color .3s;
}
.link{
  color: #74cfae;
}
.link-box:hover{
  background-color: #fff;

}
.footer{
  width:100%;
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer p{
  color: #fff;
  text-align: right;
  
　}
}




   /* tablet  */




@media only screen and (min-width: 641px) and (max-width: 960px) {
  /*ここにtablet用スタイルを記述*/
  .inner{
    width: 97%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
   



  /* smartPhone */




@media screen and (max-width: 640px) {
  /*ここにスマホ用スタイルを記述*/
  .inner{
    width: 97%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .header{
    width: 100%;
    text-align: center;
   }
  .header-inner{
    display: flex;
    justify-content: space-between;
    padding: 15px;
   }
  .contact-btn{
    display: none;
    /* font-size: 12px;
    padding: 14px 12px;
    background-color: #74cfae;
    color: #fff;
    transition: color .3s; */
  }
  #humberger{
    position: relative;
    height: 36px;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
  }
  #humberger div {
    position: absolute;
    left: 6px;
    height: 3px;
    width: 24px;
    background-color: #f2f2f2;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  #humberger div:nth-of-type(1) {
    top: 7px;
  }
  #humberger div:nth-of-type(2) {
    top: 15px;
  }
  #humberger div:nth-of-type(3) {
    bottom: 7px;
  }
  .btn-content{
    font-size: 15px;
    padding: 14px 12px;
    background-color: #74cfae;
    color: #fff;
    transition: color .3s;
    width: 30%;
    margin: 0 auto;
   }
  .theme{
    width:100%;
    background-color: #f2f2f2;
    padding-top: 160px;
    padding-bottom: 130px;
    text-align: center;
  }
  .theme h1{
    font-size:80px;
    font-weight: 700;
    color: #74cfae;
  }
  .theme h2{
    font-size: 30px;
    color:#c0c0c0;
    margin-top: 20px;
  }
  .whatwecando{
    background-color: #74cfae;
    text-align: center;
  }
  .whatwecando img{
    margin-top: 50px;
  }
  .whatwecando-inner{
    /* display: flex; */
    
  }
  .whatwecando h3{
    font-family: 'Raleway';
    font-size: 24px;
    color: #fff;
  }
  .whatwecando p{
    font-size: 20px;
    color: #fff;
    margin-top: 35px;
  }
  .whatwecando-note{
    padding: 15px;
  }
  .work{
    width:100%;
    background-color: #f2f2f2;
    text-align: center;
  }
  .work h1{
    font-size: 24px;
    font-family: 'Raleway';
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
  }
  /* .work-img{
    display: flex;
  } */
  .work-img img{
    display: flex;
  }
  .work-img-img{
    opacity:0.7;
    transition: opacity .3s;
  }
  .work-img-img:hover{
    opacity:1;
  }
  /* .work-img-top,.work-img-bottom{
    display: flex;
    justify-content: space-between;
  } */
  /* .work-img-top{
    margin-bottom: 80px;
  }
  .work-img-bottom{
    margin-bottom: 90px;
  } */
  .work-note{
    text-align: center;
    padding: 100px 0;
    /* width: 800px; */
    /* display: flex; */
    margin: 0 auto;
  }
  .work-text{
    padding:20px 0;
    color: #4e4e4e;
    line-height: 180%;
    font-size: 18px;
  }
  .skills{
    width:100%;
    background-color: #4e4e4e;
  }
  .skills h1{
    font-size: 24px;
    font-family: 'Raleway';
    color: #fff;
    text-align: center;
    padding-top: 70px;
  }
  .skills figcaption{
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
  }
  .skills-inner{
    /* display: flex; */
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
  }
  .skills-content{
    padding-bottom: 70px;
  }
  .links{
    width:100%;
    background-color: #f2f2f2;
  }
  .links-inner{
    /* display: flex; */
    padding:50px 15px;
  }
  .link-box{
    /* border: 1px solid red; */
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    transition: background-color .3s;
  }
  .link{
    text-align: center;
    padding: 20px 0;
    color: #74cfae;
  }
  .link-box:hover{
    background-color: #fff;
  
  }
  .footer{
    width:100%;
    background-color: #74cfae;
  }
  .footer p{
    color: #fff;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 25px;
  }
}



/* ここから元のやつ（pc） */



