@charset "UTF-8";
a{
  text-decoration: none;
  display: inline-block;
}
img{
  vertical-align: top;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.inner{
  box-sizing: border-box;
  margin: 0 auto;
}
.header{
  width: 100%;
  text-align: center;
  position: fixed;
  z-index:24;
  background-color: #fff;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  padding:15px 0;
}
.contact-btn{
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: color .3s;
}
.contact-btn:hover{
  color: #333;
}
.theme{
  width:100%;
  background-color: #f2f2f2;
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}
.theme h1{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.theme p{
  font-size: 30px;
  color:#c0c0c0;
  margin-top: 20px;
} 
.main{
  padding-top: 70px;
}
.whatwecando{
  background-color: #74cfae;
  text-align: center;
}
.whatwecando-note h2{
  font-family: 'Raleway';
  font-size: 24px;
  color: #fff;
}
/* ↑pc/tabletのみ */
.whatwecando-note p{
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  align-items: end;
  line-height: 30px;
}
/* ↑pc/tabletのみ */
.work{
  width:100%;
  background-color: #f2f2f2;
}
.work h2{
  font-size: 24px;
  font-family: 'Raleway';
  margin-bottom: 40px;
  text-align: center;
}
.work-img-img:hover{
  opacity:1;
}
.work-note{
  text-align: center;
}
.skills{
  width:100%;
  background-color: #4e4e4e;
}
.skills h2{
  font-size: 24px;
  font-family: 'Raleway';
  color: #fff;
  text-align: center;
}
.skills p{
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}
/* ↑pc/tabletのみ */
.links{
  width:100%;
  background-color: #f2f2f2;
}
.link{
  color: #74cfae;
}
.link-box{
  text-align: center;
}
.footer{
  width:100%;
  background-color: #74cfae;
}
.footer p{
  color: #fff;
  text-align: right;
}



/* pc */
@media screen and (min-width: 1200px) {
  /*ここにpc用スタイルを記述*/
  .inner{
    width: 1100px;
  }
  #humberger{
    display: none;
  }
  .whatwecando{
    padding-top: 50px;
  }
  .whatwecando-img{
    width: 40%;
  }
  .whatwecando-inner{
    display: flex;
  }
  .whatwecando-note{
    width: 60%;
  }
  .work{
    padding: 60px 0 70px;
  }
  .work-img{
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap; 
  }
  .work-img-img{
    opacity:0.7;
    transition: opacity .3s;
    margin-top: 80px;
    margin-left: 100px;
  }
  .work-img .work-img-img:nth-child(-n+3) {
    margin-top: 0;
  }
  .work-img .work-img-img:nth-child(3n+1) {
    margin-left: 0;
  }
 
  .work-note{
    width: 800px;
    display: flex;
    margin: 0 auto;
  }
  .work-text{
    margin-right: 90px;
    color: #333;
    line-height: 20px;
  }
  .skills{
    padding:70px 0 100px ;
  }

  .skills-content{
    display: flex;
    justify-content: center;
    margin-top:70px;
  }
  .skills-img{
    margin-left: 180px;
  }
  .skills-img:nth-of-type(1){
    margin-left: 0;
  }
  .links{
    padding:200px 0;
  }
  .link{
    padding: 20px 0;
    width: 185px;
    transition:background-color.3s;
  }
  .link:hover{
    background-color: #fff;

  }
  .footer{
    padding-top: 20px;
    padding-bottom: 25px;
  }

}




   /* tablet  */




@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /*ここにtablet用スタイルを記述*/
  .inner{
    width: 97%;
  }
  .contact-btn{
    box-sizing: border-box;
    display: inline-block;
  }
  #humberger{
    display: none;
  }  
  .whatwecando{
    padding:50px 0 25px;
  }
 
  .whatwecando-note{
    margin-top:20px;
  }
  .work{
    padding: 60px 0 70px;
  }
  
  .work-inner{
    box-sizing: border-box;
    width: 100%;
  }
  
  .work-img .work-img-img:nth-child(3n){
    margin-bottom: 80px;
  }
  .work-img .work-img-img:last-child{
  margin-bottom: 0;
  }

  .work-img{
    flex-wrap: wrap; 
  }

  .work-img-img{
    opacity:0.7;
    transition: opacity .3s;
    display: block;
    margin: 0 auto;
    max-width:300px;
  }


  .work-img img:hover{
    opacity:1;
  }
  .work-note{
    margin-top:80px;
    width: 100%;
  }
  .work-text{
    color: #333;
    line-height: 20px;
  }
  .work-btn{
    text-align: center;
    margin: 40px 0 70px 0;
  }
  .skills h2{
    padding-top: 70px;
  }
  .skills-inner{
    margin-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
  }
  .skills-content{
    max-width: 20%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 78px;
  } 
  .skills-content {
    margin:0 auto;
    padding-top: 10px;
  }
  .links-inner{
    padding:200px 0;
    display: flex;
    justify-content: center;
    
  }
  .link-box{
    width: 185px;
    padding: 20px 0;
    transition: background-color .3s;
  }
  .link-box:hover{
    background-color: #fff;
  }
  .footer{
    padding-top: 20px;
    padding-bottom: 25px;
  }
}


    



    /* smartPhone */




  @media screen and (max-width: 767px){
    /*ここにスマホ用スタイルを記述*/
  .inner{
    width: 97%;
  }
  .header{
    z-index: 10; 
  }
  .contact-btn{
    display: none;
  }
  .work-btn{
    display: inline-block;
    font-size: 12px;
    padding: 14px 12px;
    background-color: #74cfae;
    color: #fff;
    transition: color .3s;
  }
  #humberger{
    position: relative;
    height: 36px;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
  }
  #humberger div {
    position: absolute;
    left: 6px;
    height: 3px;
    width: 24px;
    background-color: #f2f2f2;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  #humberger div:nth-of-type(1) {
    top: 7px;
  }
  #humberger div:nth-of-type(2) {
    top: 15px;
  }
  #humberger div:nth-of-type(3) {
    bottom: 7px;
  }
  .btn-content{
    font-size: 15px;
    padding: 14px 12px;
    background-color: #74cfae;
    color: #fff;
    transition: color .3s;
    width: 30%;
    margin: 0 auto;
    }
  .main{
    padding-top: 66px;
  }
  .theme{
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .theme h1{
    font-size:80px;
  }
  .theme h2{
    font-size: 30px;
    color:#c0c0c0;
    margin-top: 20px;
  }
  .whatwecando img{
    padding-top: 50px;
  }
  .whatwecando h3{
    font-family: 'Raleway';
    font-size: 24px;
    color: #fff;
  }
  .whatwecando p{
    font-size: 20px;
    color: #fff;
    padding-top: 35px;
  }
  .whatwecando-note{
    padding: 15px;
  }
  .work h2{
    margin-bottom: none;
    margin-top:15px;
  }
  .work-img img{
    margin: 0 auto;
  }
  .work-img-img{
    opacity:0.7;
    transition: opacity .3s;
  }
  .work{
    text-align: center;
  }
 
  .work-note{
    padding: 100px 0;
    margin: 0 auto;
  }
  .work-text{
    padding:20px 0;
    color: #4e4e4e;
    line-height: 180%;
    font-size: 18px;
  }
  .skills h2{
    font-size: 24px;
    font-family: 'Raleway';
    color: #fff;
    text-align: center;
    padding-top: 70px;
  }
  .skills  p{
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
  }
  .skills-content{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
  }
  .skills-img{
    padding-top: 30px;
  }
  .links-inner{
    padding:50px 15px;
    width: 55%;
  }
  .link-box{
    width: 185px;
    padding: 20px 0;
    transition: background-color .3s;
  }
  .footer p{
    padding-top: 20px;
    padding-bottom: 25px;
  }

}



